<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.dataaccess.client" type="System.Data.Common.DbProviderConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>  
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <!--<add name="DbConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=hotel;Integrated Security=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DbConnection" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Hotel;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="OracleConnection" connectionString="Data Source=XE;Persist Security Info=True;User Id=hr;Password=hr" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="OracleConnection" connectionString="Data Source=XE;Persist Security Info=True;User Id=hr;Password=hr" providerName="Oracle.ManagedDataAccess" />-->
    <!--<add name="OracleConnection" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.31.17.4)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = opera)));user id=opera;password=opera" providerName="Oracle.ManagedDataAccess" />-->
    <add name="OracleConnection" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = XE)));user id=hr;password=hr" providerName="Oracle.ManagedDataAccess.Client"/>
    <!--<add name="OracleConnection" connectionString="Data Source=XE;Persist Security Info=True;User Id=hr;Password=hr" providerName="System.Data.OracleClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="hotelDescription" value="Dev Hotel"/>
    <add key="apiBaseUri" value="https://bguest-integration-api-dev.azurewebsites.net/"/>
    <!--<add key="queryString" value="SELECT room, reservation, periodStart, periodEnd,           cast(isCheckedIn as bit) isCheckedIn,           cast(allowExpressCheckout as bit) allowExpressCheckout,          currentBillValue,  currentBillDate, currentBillCurrency,          cast(isBreakfastIncluded as bit) isBreakfastIncluded,          guestEmail, guestFirstName, guestLastName, guestPhoneNumber, externalKey, state            FROM reservations" />-->
    <add key="queryString" value="SELECT  'VG-7aa3921f-d388-4015-9d23-f0ac3b919739' hotelId                             ,periodStart                              ,periodEnd                             ,'debugtest' || guestEmail guestEmail                             ,guestFirstName                             ,guestLastName                              ,guestPhoneNumber                             ,case when Round(dbms_random.value) = 1 then Round(dbms_random.value * 10) else null end externalKey                        FROM reservations"/>
  </appSettings>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="Oracle.DataAccess.Client"/>      
      <add name="ORACLE DATA PROVIDER FOR .NET 11.2.0.2.0 Production" invariant="Oracle.DataAccess.Client" description="ORACLE DATA PROVIDER FOR .NET 11.2.0.2.0 Production" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342, processorArchitecture=AMD64"/>-->
      <!--<add name="Odbc Data Provider" invariant="System.Data.Odbc" description=".Net Framework Data Provider for Odbc"
          type="System.Data.Odbc.OdbcFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
      
      <!--<add name="OleDb Data Provider" invariant="System.Data.OleDb"
           description=".Net Framework Data Provider for OleDb"
           type="System.Data.OleDb.OleDbFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >-->
      
      <!--<add name="OracleClient Data Provider" invariant="System.Data.OracleClient" description=".Net Framework Data Provider for Oracle" type="System.Data.OracleClient.OracleClientFactory, System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
      
      <!--<add name="SqlClient Data Provider" invariant="System.Data.SqlClient"
           description=".Net Framework Data Provider for SqlServer"
           type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <oracle.dataaccess.client>
    <settings>
      <!--<add name="DllPath" value="C:\oraclexe\app\oracle\product\11.2.0\server\odp.net\bin\4"/>-->
      <!--<add name="FetchSize"             value="65536"/>
      <add name="PromotableTransaction" value="promotable"/>
      <add name="StatementCacheSize"    value="10"/>
      <add name="TraceFileName"         value="c:\odpnet4.trc"/>
      <add name="TraceLevel"            value="0"/>
      <add name="TraceOption"           value="0"/>-->
    </settings>
  </oracle.dataaccess.client>
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <add name="DllPath" value="C:\Users\Frederico Tereso\Source\Repos\BGuest.Integration\BGuest.Integration.Console\BGuest.Integration.Console.Tests\Client Assemblies"/>
      </settings>
      <dataSources>
        <dataSource alias="XE" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE))) "/>
        <!--<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>-->
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
